@import '../../assets/styles/variables.scss';

.logo {
  height: 60px;
  padding-top: $sp_md;
  text-align: center;
  overflow: hidden;
  &_img {
    width: 30px;
    height: 50px;
  }
  &_link {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $white;
  }
}

.layout {
    min-height: 100vh;
}

.footer {
    text-align: center;
}

.content {
    margin: 0 16px;
}

.site_layout_background {
  background-color: $white;
  padding: 20px;
}
